:root {
    --dark: rgb(20, 29, 47);
    --dark-blue: rgb(30, 42, 71);
}
.dark {
    background-color: var(--dark);
    color: var(--white);
}
.dark form,
.dark main,
.dark input {
    background-color: var(--dark-blue);
}
