@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
    --blue: #0079ff;
    --blue-hover: #60abff;
    --white: #ffffff;
    --red: #f74646;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}
h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
}
h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}
h3 {
    color: var(--blue);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
h4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
button {
    background-color: var(--blue);
    cursor: pointer;
    color: var(--white);
    width: 106px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
button:hover {
    background-color: var(--blue-hover);
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.error {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: var(--red);
}
#theme h4 {
    text-transform: uppercase;
}
form {
    border-radius: 15px;
}
@media screen and (max-width: 500px) {
    button {
        width: 86px;
        height: 46px;
    }
}
