header {
    display: flex;
    justify-content: space-between;
}
#theme {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
}
.input-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/*Desktop*/
@media screen and (min-width: 1000px) {
    .container {
        width: 730px;
        gap: 25px;
    }
    input {
        height: 100%;
        width: 100%;
    }
    main {
        padding: 30px;
    }
    .error {
        margin-right: 10px;
    }
}
/*Mobile*/
@media screen and (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
    }
}
